fastapi
uvicorn
sqlalchemy
passlib[bcrypt]
python-jose
pydantic-settings
python-dotenv
email-validator
#langchain-community
#sentence-transformers
#faiss-cpu
httpx
pdfplumber
#easyocr
pillow
pinecone
python-multipart
pymupdf
itsdangerous
authlib
joblib
